* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --spacing: 0.75rem;
}
img, figure {
  max-width: 100%;
}
body {
  line-height: 1.4;
  color: white;
}
main {
  --padding: calc(var(--spacing) * 4);
  width: 80%; /* TODO set max width based on font size */
  margin: 0 auto;
  background-color: #2A2B2A;
  border: 2px solid #333;
  /* curved border radius */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: var(--padding);
  margin: calc(var(--spacing) * 2) auto;
}
h1 {
  margin: 0;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
}
h2 {
  margin: calc(var(--spacing) * 6) 0 0;
  font-size: 2rem;
  /* TODO the white of the text disappears on top of photos */
  position: sticky;
  top: calc(1 * var(--spacing));
}
h1 + .city > h2 {
  margin-top: calc(var(--spacing) * 2);
}
h3 {
  margin: calc(var(--spacing) * 6) 0 0;
  font-size: 1.5rem;
  font-weight: 800;
}
h2 + h3 {
  margin-top: calc(var(--spacing) * 3);
}
.incidents {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-between;
  margin: 0 auto;
  align-items: flex-start;
}
.incidents__incident {
  --gap: calc(var(--spacing) * 1);
  width: calc(100% / 2 - 1 * var(--gap));
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  border-left: 0.25em solid;
  padding: var(--spacing) calc(2 * var(--spacing));
  margin-top: calc(var(--spacing) * 2);
}
.incidents__incident:nth-child(n + 3) {
  margin-top: calc(var(--spacing) * 4);
}
.incidents__headline, .incidents__comments, .incidents__desc, .incidents__update, .incidents__icon {
  margin-bottom: calc(var(--spacing) * 2);
}
.incidents__image {
  float: left;
  margin-right: auto;
  transform: scale(0.75, 0.75);
  -ms-transform: scale(0.75, 0.75);
  -webkit-transform: scale(0.75, 0.75);
}
.incidents__agency, .incidents__contactname, .incidents__contactemail, .incidents__organization, .incidents__phone {
}
.incidents__headline {
  font-size: 1.25em;
}
.incidents__metadata {
  font-size: 1.1em;
}
.incidents__headline, .incidents__metadata {
  font-weight: 600;
}
.incidents__highway {
}
.incidents__create {
}
.incidents__mileposts {
}
.weather {
}
.incidents--empty {
  font-size: 1.2em;
  margin-top: calc(2 * var(--spacing));
}
.cameras {
  /* using Grid to avoid layout problems with the last line, but if that’s not an issue, Flexbox will do the job */
  display: grid;
  grid-template-columns: repeat(4, calc(25% - var(--spacing) * 2));
  grid-gap: calc(var(--spacing) * 2);
  margin: calc(4 * var(--spacing)) auto 0;
  list-style: none;
  justify-content: space-between;
}
.cameras__item {
}
.cameras__figure {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
}
.cameras__caption {
  text-align: center;
  margin-top: var(--spacing);
}
.cameras__image {
  height: auto;
}
body {
  background-image:url("/static/green_cup.png");
  background-repeat:repeat;
  font-family: "Open Sans", sans-serif;
  font-size: 90%;
}
footer {
  margin-top: calc(4 * var(--spacing));
}

.footer-heart, .footer-info {
  text-align:center;
  font-family: open sans, sans-serif;
}

.footer-heart a{
  border-bottom: 1px solid #24c031;
  color: #b3afc9;
  padding-bottom: .25em;
  text-decoration: none;
}

.footer-heart a:hover {
  color:#2196f3;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;}

.emoji {
  vertical-align: middle;
}

.footer-info-2 {
  margin-bottom: calc(var(--spacing) * 2);
  text-align:center;
  font-family: open sans, sans-serif;
}
