<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ODOT Traffic Cameras</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>
  <body>
    <main>
        {% block content %}
        <h1>500 Internal Server Error</h1>
        <p>OOPS! Something went wrong fetching the latest data from the ODOT API</p>
        <p>While we try to always remain available, these things happen. Please sit tight as this issue is resolved.</p>
        {% endblock %}
      <footer>
      <p>ZigSphere</p>
      </footer>
    </main>
  </body>
</html>
