<html>
  <head>
    <title>ODOT Traffic Cameras</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css" />
  </head>
  <body>
    <main>
      <h1>Traffic Cameras</h1>
      <section class="city">
      {% for city,cameras in urls.items() %}
      <h2>{{ city }}</h2>
      <h3>Incidents for {{city}}</h3>
        {% for incident_city,incident in incidents.items() %}
          {% if incident_city == city %}
            {% if incident %}
            <ul class="incidents">
              {% for i in incident %}
                <li class="incidents__incident">
                    <p class="incidents__headline">{{ i["headline"] }}</p>
                    {% if i["comments"] -%}
                    <p class="incidents__comments">{{ i["comments"] }}</p>
                    {%- endif %}
                    <p class="incidents__metadata"><span class="incidents__highway">{{i["location"]["route-id"]}}</span>, <span class="mileposts">{{i["location"]["start-location"]["start-milepost"]}} to {{ i["location"]["end-location"]["end-milepost"] if i["location"]["end-location"]["end-milepost"] else 'N/A' }}</span></p>
                </li>
              {% endfor %}
            </ul>
            {% else %}
              <p class="no-incidents">None at this time</p>
            {% endif %} 
          {% endif %}
        {% endfor %}
      <h3>Cameras for {{city}}</h3>
        <ul class="cameras">
        {% for camera in cameras %}
            <li><figure>
                <img src="{{camera["cctv-url"]}}" alt="" loading="lazy" />
                <figcaption>{{ camera["cctv-other"]}}</figcaption>
            </figure></li>
        {% endfor %}
        </ul>
      {% endfor %}
      </section>
      <footer>
      <p>ZigSphere</p>
      <p>Information provided by the Oregon Department of Transportation API</p>
      </footer>
    </main>
  </body>
</html>
